{% extends 'base.html.twig' %}

{% block title %}Hello PricingController!{% endblock %}

{% block body %}

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Menu Gratuit</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€ 0<small class="text-body-secondary fw-light">/1 boîte</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Maki</li>
              <li>Uramaki</li>
              <li>Nigiriii</li>
              <li>Sashimi</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Inscrivez-vous gratuitement</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Menu Premium</h4> 
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€ 15<small class="text-body-secondary fw-light">/1 boîte</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Gyoza</li>
              <li>Okonomiyaki</li>
              <li>Ramen</li>
              <li>Kōcha</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Commencer </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Menu VIP </h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€ 29<small class="text-body-secondary fw-light">/1 boîte</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Yakitori</li>
              <li>Tempura</li>
              <li>Temaki</li>
              <li>Sake</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Contactez-nous </button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-4">Comparer les menus</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Menu Gratuit</th>
            <th style="width: 22%;">Menu Premium</th>
            <th style="width: 22%;">Menu VIP</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Pour tous</th> 
            <td><i class="bi bi-check"></i></td>
            <td><i class="bi bi-check"></i></td>
            <td><i class="bi bi-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Réservation privée</th>
            <td></td>
            <td><i class="bi bi-check"></i></td>
            <td><i class="bi bi-check"></i></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Accès réservé</th>
            <td><i class="bi bi-check"></i></td>
            <td><i class="bi bi-check"></i></td>
            <td><i class="bi bi-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">À partager</th>
            <td></td>
            <td><i class="bi bi-check"></i></td>
            <td><i class="bi bi-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Membres VIP illimités</th>
            <td></td>
            <td><i class="bi bi-check"></i></td>
            <td><i class="bi bi-check"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Sécurité renforcée</th>
            <td></td>
            <td></td>
            <td><i class="bi bi-check"></i></td>
        
          </tr>
        </tbody>
      </table>
    </div>

{% endblock %}
