{% extends 'base.html.twig' %}


{% block title %}Sushi{% endblock %}

{% block body %}
    <h3>Votre nouveau goût – un sushi inoubliable, ici et maintenant !</h3>

    <div class="navbar">
        <p> </p>
    </div>

   <div style="display: flex; justify-content: center; align-items: center; margin: 20px 0; height: 80vh; overflow: hidden;">
    <iframe width="80%" height="70%" src="https://www.youtube.com/embed/jUQsHwoINvo?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="object-fit: cover;"></iframe>
</div>



    
{% endblock %}
