<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Contact Form Submission Successful' | trans }}</title> <!-- გვერდის სათაური -->
</head>
<body>
    <h1>{{ 'Merci pour votre soumission!' | trans }}</h1> <!-- მომხმარებლის მესი, რომელიც მადლობას უხდის -->
    <p>{{ 'Votre demande de contact a été traitée avec succès.' | trans }}</p> <!-- შეტყობინება, რომელიც განუცხადებს მომხმარებელს, რომ მათი მოთხოვნა წარმატებით დამუშავებულია -->
</body>
</html>
